body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.see {
  background-color: red !important;
}

.align-center {
  align-items: center;
}

.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.float-right {
  float: right;
}
.display-inline-block {
  display: inline-block;
}
.text-color-retal {
  color: #b39270;
}

@font-face {
  font-family: "noor";
  src: url("noor-light.ttf") format("truetype");
}

@font-face {
  font-family: "klavika";
  src: url("klavika-regular.otf");
}

*[lang="ar"],
body:lang(ar) {
  font-family: "noor", sans-serif !important;
}
h1:lang(ar),
h2:lang(ar),
h3:lang(ar),
h4:lang(ar),
h5:lang(ar),
h6:lang(ar) {
  font-family: "noor", sans-serif !important;
}
*[lang="en"],
body:lang(en) {
  font-family: "klavika", sans-serif !important;
}
h1:lang(en),
h2:lang(en),
h3:lang(en),
h4:lang(en),
h5:lang(en),
h6:lang(en) {
  font-family: "klavika", sans-serif !important;
}

.current-winner-number {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 18px;
  display: inline-block;
}

.current-winner-number-wrapper {
  display: inline;
}

.bg-primary {
  background-color: #906a43 !important;
  border-color: #906a43 !important;
}

.table-wrapper {
  margin: auto;
  float: none !important;
  max-height: 300px;
  overflow-y: auto;
  display: none;
}

#win-history {
  font-size: 22px;
}

#pre-number-text {
  font-weight: bold;
}

.see {
  background-color: red;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.splash {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
